{
	  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
    color: #000;
    font-family: Arial, sans-serif; 
    font-size: 100%; 
    margin: auto; 
	width: 80%;
    float: center;
    padding: 5em;
	border: .2em;
	text-position: 50%;
	
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}

h1, h2 {
	text-align: center;
}

h1 {
	text-color: 
}

h2 {
	font-size: 80%;
}


#crimes {
	margin: 2px;
	margin-bottom: 10px;
	top: 0px;
	width: 80%;
    float: center;
    padding: 2em;
	border: .2em;
	border-style: solid;
	border-color:white white #6495ED white;
	align: center;
}

#bar, #pie {
	border: .2em;
	border-style: solid;
	border-color:white white #6495ED white;
	align: center;
}
